@import url('https://googleapis.com/css2?family=releway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'releway', sans-serif;
    outline: none;
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #454545;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* chatbox css starts here */
.chat-box{
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.client{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: rgb(255, 91, 62);
    padding: 15px;    
}

.client img{
    width: 50px;
    height: 50px;
    border-radius: 50%;    
}

.client-info{
    color: #fff;
    padding: 15px;    
}

.client-info p{
    color: rgb(178, 236, 60);
    font-weight: bold;
    font-size: 0.8em;
}

.chats{
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
}

.client-chat{
    width: 60%;
    padding: 7px 10px;
    word-wrap: break-word;
    margin: 10px 0;
    background-color: rgba(94, 94, 94, 0.867);
    border-radius: 10px 10px 10px 0;
}

.my-chat{
    width: 60%;
    padding: 7px 10px;
    word-wrap: break-word;
    margin: 5px 0 5px auto;
    background-color: rgba(54, 81, 83, 0.867);
    border-radius: 10px 10px 0 10px;
}

.chat-input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input{
    width: calc(100% - 40px);
    height: 100%;
    background-color: #ccc;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
    border-radius: 50px;
}

.send-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.send-btn:active{
    transform: scale(0.85);
}

.send-btn img{
    width: 100%;
    height: 100%;
}

.chat-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 5%;  
}

.chat-btn img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: 0.4 ease-in-out;
}

.chat-btn:hover img{
    transform: rotate(30deg);
}

.chat-box {
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: fixed;
    transform: scale(0.01);
    opacity: 0;
    bottom: -20%;
    transition: 0.5s ease-in-out;
}

.chat-box.active {
    transform: scale(1);
    bottom: 25%;
    opacity: 1;
}